@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.weather__wrapper {
    width: 50%;
    margin: 30px auto;
    padding: 30px;
    border: solid 1px rgb(218, 232, 249);
    border-radius: 20px;
    box-shadow: rgb(218, 232, 249) 0px 7px 29px 7px;
}

.weather__form {
    width: 70%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.weather-info__icon {
    width: 150px;
}

.weather__input {
    width: 250px;
    outline: none;
    border: solid 1px rgb(218, 232, 249);
    border-radius: 20px;
    box-shadow: rgb(218, 232, 249) 0px 3px 8px;
    padding: 20px 10px 20px 40px;
    font-family: "Roboto", sans-serif;
    color: #0479a8;
    font-size: 18px;
}

.weather__input::placeholder {
    font-size: 18px;
    color: #0479a8;
}

.weather__button {
    background-color: rgb(218, 232, 249);
    border: 5px solid transparent;
    border-radius: 20px;
    box-shadow: rgb(218, 232, 249) 0px 3px 8px;
    padding: 20px 50px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #0479a8;
    font-size: 18px;
    transition: background-color 0.2s, border-color 0.2s;
}

.weather__button:hover {
    background-color: #b7e7fc;
    border-color: white;
    outline: 3px solid #b7e7fc;
}

.weather-info {
    font-family: "Roboto", sans-serif;
    margin: 30px 40px;
}

.weather-info__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-info__data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather-info__city {
    font-size: 24px;
    font-weight: 500;
    color: #0479a8;
}

.weather-info__text {
    color: rgb(85, 83, 83);
    font-size: 18px;
    color: #0479a8;
}

.weather-info__text_bold {
    color: #0479a8;
    font-weight: 500;
}

.weather-info__name {
    width: 120px;
    display: inline-block;
}

.weather-info__descr {
    color: #0479a8;
    font-weight: 500;
    font-size: 18px;
    width: 150px;
    display: inline-block;
}

.weather-info__error {
    font-size: 30px;
    color: #0479a8;
    font-weight: 600;
    text-align: center;
}


.forecast__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecast__item {
    text-align: center;
}

.forecast__date {
    font-family: "Roboto", sans-serif;
    color: #0479a8;
    text-transform: uppercase;
    font-weight: 500;
}

.forecast__temp {
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    color: #0479a8;
}

.forecast__icon {
    width: 100px;
}