@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.weather__wrapper {
    width: 50%;
    margin: 30px auto;
    padding: 30px;
    border: solid 1px rgb(218, 232, 249);
    border-radius: 20px;
    box-shadow: rgb(116, 157, 201) 0px 7px 29px 7px;
    background-color: #FFFFFF;
}

.weather__form {
    width: 70%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.weather-info__icon {
    width: 150px;
}

.weather__input {
    width: 250px;
    outline: none;
    border: solid 1px rgb(218, 232, 249);
    border-radius: 20px;
    box-shadow: rgb(218, 232, 249) 0px 3px 8px;
    padding: 20px 10px 20px 40px;
    font-family: "Roboto", sans-serif;
    color: #0479a8;
    font-size: 18px;
}

.weather__input::placeholder {
    font-size: 18px;
    color: #0479a8;
}

.weather__buttons {
    display: flex;
}

.weather__button {
    border: none;
    outline: none;
    background: none;
}

.weather__search,
.weather__loaction {
    color: #0479a8;
    font-size: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 8px;
    border-radius: 50%;
}

.weather__search:hover,
.weather__loaction:hover {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(193, 210, 244, 0.7);
}

.weather-info {
    font-family: "Roboto", sans-serif;
    margin: 30px 40px;
}

.weather-info__suntime {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px;
}

.weather__sunrise {
    font-size: 25px;
    color: #FBBF24;
}

.weather__sunset {
    font-size: 25px;
    color: #0479a8;
}

.weather-info__sunrise,
.weather-info__sunset {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    color: #0479a8;
    gap: 10px;
    font-size: 20px;
}

.weather-info__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-info__data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather-info__city {
    font-size: 24px;
    font-weight: 500;
    color: #0479a8;
}

.weather-info__text {
    color: rgb(85, 83, 83);
    font-size: 18px;
    color: #0479a8;
    display: flex;
}

.weather-info__text_bold {
    color: #0479a8;
    font-weight: 500;
}

.weather-info__name {
    width: 120px;
    display: inline-block;
}

.weather-info__descr {
    color: #0479a8;
    font-weight: 500;
    font-size: 18px;
    width: 150px;
    display: inline-block;
}

.weather-info__error {
    font-size: 30px;
    color: #0479a8;
    font-weight: 600;
    text-align: center;
}

.error-icon__wrapper {
    width: 50%;
    margin: 2% auto 0;
}

.weather-info__error-icon {
    width: 100%;
}

.forecast__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecast__item {
    text-align: center;
}

.forecast__date {
    font-family: "Roboto", sans-serif;
    color: #0479a8;
    text-transform: uppercase;
    font-weight: 500;
}

.forecast__temp {
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    color: #0479a8;
}

.forecast__icon {
    width: 100px;
}

@media (max-width:1200px) {
    .weather__wrapper {
        width: 70%;
    }
}

@media (max-width:800px) {
    .weather__wrapper {
        width: 70%;
    }

    .weather-info__suntime {
        width: 100%;
    }

    .weather-info__suntime_flex {
        width: 150px;
    }

    .weather-info__text {
        flex-direction: column;
    }

    .error-icon__wrapper {
        width: 55%;
        margin-top: 5%;
    }

    .forecast__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 55px;
    }

    .forecast__item {
        margin-bottom: 15px;
    }
}

@media (max-width:696px) {

    .weather-info__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15%;
    }

    .weather-info__icon {
        order: 1;
    }

    .error-icon__wrapper {
        width: 65%;
        margin-top: 5%;
    }

    .forecast__item {
        width: 150px;
        margin-top: 20px;
    }
}

@media (max-width:581px) {

    .weather__wrapper {
        width: 60%;
    }

    .weather__sunrise,
    .weather__sunset {
        font-size: 20px;
    }

    .weather__form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .weather-info__icon {
        order: 0;
    }

    .weather-info__data_center {
        text-align: center;
        margin-bottom: 15px;
    }

    .weather-info__data {
        text-align: center;
    }

    .weather__input {
        padding-left: 37%;
    }

    .error-icon__wrapper {
        width: 75%;
        margin-top: 5%;
    }

    .forecast__wrapper {
        gap: 40px;
    }

    .forecast__icon {
        width: 80px;
    }

    .forecast__item {
        width: 80px;
    }
}

@media (max-width:425px) {

    .error-icon__wrapper {
        width: 85%;
    }

    .weather__input {
        width: 150px;
    }
}